* {
    -fx-font-family: 'Montserrat Medium', sans-serif, 'Segoe UI';
     -fx-font-size: 14px;
}

.root {
     -fx-background-color: #0F0F0F;
     -fx-font-family: 'Montserrat Medium';
     -fx-font-size: 14px;
}

.text {
    -fx-fill: #808287;
    -fx-text-fill: #808287;
}

.button {
    -fx-border-radius: 3px;
    -fx-font-weight: bold;
    -fx-background-color: #154CB7;
}

.button:hover {
    -fx-background-color: #103C92;
}

.check-box .text {
    -fx-font-weight: bold;
    -fx-fill: #808287;
    -fx-text-fill: #808287;
}

.check-box .box {
    -fx-border-color: #585858;
    -fx-border-radius: 3px;
    -fx-background-color: linear-gradient(#2C2C2C 0%, #4A4A4A 47%, #2F2F2F 48%, #353535 100%);
}

.button .text {
    -fx-fill: #FFFFFF;
}

.red {
    -fx-fill: #ff0000;
    -fx-fill-text: #ff0000;
}

.green {
    -fx-fill: #00ff00;
    -fx-fill-text: #00ff00;
}

.text-field {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 3px;
    -fx-text-fill: #fff;
}

.menu-button {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-border-radius: 3px;
    -fx-text-fill: #fff;
}

.menu-item {
    -fx-background-color: rgba(255, 255, 255, 0.2);

}

.menu-item .text {
    -fx-fill: #fff;
}

.menu-item:focused {
    -fx-background-color: #154CB7;
}

.context-menu {
    -fx-background-color: #333;
    -fx-border-radius: 10px;
}

.tab-header-area .tab-header-background {
    -fx-background-color: #121212;
}

.tab-pane {
    -fx-background-color: #121212;
    -fx-tab-min-width: 75px;
}

.tab-pane .tab:selected
{
    -fx-background-color: #222;
    -fx-text-fill: #828282;
}

.tab-pane .tab
{
    -fx-background-color: rgba(255, 255, 255, 0.2);
}

.slider .track {
    -fx-background-color: rgba(255, 255, 255, 0.2);
    -fx-background-radius: 5;
}

.slider .thumb {
    -fx-background-color: #4f4f4f;
    -fx-background-radius: 10;
    -fx-padding: 8;
}

.slider .axis {
        -fx-tick-label-fill: #fff;
}

.text-area {
    -fx-background-color: transparent;
    -fx-text-fill: #fff;
}

.text-area .content {
    -fx-background-color: #585858;
    -fx-font-size: 18px;
}